@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/





/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background:#f2f2f2;
	overflow:hidden;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#img{position;relative; cursor:pointer; float:left; width:45px; height:70px; }
	
#log{position:relative; width:50px; height:25px; background:#930608; float:left; text-align:center; line-height:25px; box-shadow:2px 2px 2px gray; border-radius:8px; cursor:pointer; left:165px; top:10px;}

#log a{text-decoration:none; color:white; font-size:11px;}

#log:hover{background:#a30507; }













#navbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#menu{position:relative; max-width:none;  background:none; box-shadow:none; left:-37px;}

#menu ul li{list-style:none; background:#222; width:80px; position:relation; text-align:Center; margin:0px; height:33px; line-height:33px; box-shadow:2px 2px 2px gray;  }

#menu ul li a{text-decoration:none; color:white; font-size:12px; display:block; }

#menu ul li:hover{background:#930608;}

#menu{display:block;}

#inp{position:relative; left:200px; top:-253px; width:80px; height:17px; } 

input{font-size:9px;}

#ser{position:relative; left:198px; transform:rotate(16deg); top:10px; cursor:pointer; top:-255px; width:20px; height:20px;}











#leftbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#line{position:relative; width:150px; height:3px; background:black; left:150px; top:-20px;}




#article {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#login{position:relative; left:30px; top:0px; font-family:myraid pro; width:250px; height:190px; background: #f2f2f2; border:1px ridge black; border-radius:12px; }

#signin{position:relative; font-size:18px; color:black; left:95px; top:15px;  }

#email{position:relative; font-size:14px; color:black; top:30px; family:myraid pro; left:10px;}

#email2{position:relative;  top:28px; left:25px;}

#pw{position:relative; font-size:14px; color:black; top:35px; family:myraid pro; left:10px;}

#pw2{position:relative; left:25px; top:32px;}

#lo{position:relative;  height:22px; width:20px; background:#222; font-size:14px; text-align:Center; border-radius:5px; left:80px; top:45px; cursor:pointer; line-height:22px; color:White;}

#lo:hover{background: #333333; transition:0.5s}

#login input{width:120px; height:17px; background:white; color:#222}

#reg{position:relative;  color:black; top:53px; left:78px; }

#reg a{family:myraid pro; color:#930608; font-size:14px;  }

#reg a:hover{color:#660000; }


#forg{position:relative;  color:black; top:53px; left:80px; }

#forg a{family:myraid pro; color:#930608; font-size:14px;  }

#forg a:hover{color:#660000; }











#rightbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#line3{width:150px; height:3px; background:black; position:relative; top:20px;}	











#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#tablefoo{position:relative; left:10px; top:10px; width:0px; font-size:10px; }

#foo{position:relative; max-width:300px; height:180px; background:#222; top:40px;  color:#f2f2f2;   }

#topcat{position:relative; left:50px; }

#topcat2{position:relative; left:50px; top:35px; }

#line2{width:230px; height:1px; background:white; position:relative; left:760px; top:0px;}

table ul li{list-style:none; position:relative; left:-48px; margin:8px; top:-2px; display:block; }

#tablefoo ul li a{text-decoration:none; color:#bfbfbf;}

#tablefoo ul li a:hover{color: #ffffff;}

#social{position:Relative; left:757px; cursor:pointer; display:none;}











/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	overflow:hidden;
	height:858px;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#img{position:relative; width:50px; height:70px; float:left; cursor:pointer;}

#log{position:relative; width:50px; height:25px;   background:#930608; float:left; text-align:center; line-height:25px; box-shadow:2px 2px 2px gray; border-radius:8px; cursor:pointer; left:520px;  }

#log a{text-decoration:none; color:white; font-size:12px;}

#log:hover{background:#a30507; }











#navbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#menu{position:relative; max-width:1190px; height:40px; background:#222; box-shadow:3px 3px 3px gray; left:10px; display:block; }

#menu ul li{list-style:none; float:left;  width:60px; line-height:40px; position:relative; left:-50px;  background:#222; margin:0px; height:40px;  box-shadow:none;  }

#menu ul li a{text-decoration:none; color:white; font-size:10px; display:block; text-align:Center;}

#menu ul li:hover{background:#930608;}

#menu input{height:13px; width:80px;}

#banner{cursor:pointer;width:1190px; height:300px;}

#inp{position:relative; left:50px; top:10px;} 

input{font-size:9px;}

#ser{position:relative; left:50px; transform:rotate(16deg); top:-28px; cursor:pointer; top:10px; width:20px; height:20px;}














#leftbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#line{position:relative; width:320px; height:3px; background:black; left:375px; top:10px;}











#article {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#login{position:relative; left:145px; top:50px; font-family:myraid pro; width:400px; height:260px; background: #f2f2f2; border:1px ridge black; border-radius:12px; }

#signin{position:relative; font-size:21px; color:black; left:185px; top:30px;  }

#email{position:relative; font-size:18px; color:black; top:50px; family:myraid pro; left:50px;}

#email2{position:relative;  top:48px; left:65px;}

#pw{position:relative; font-size:18px; color:black; top:60px; family:myraid pro; left:50px;}

#pw2{position:relative; left:65px; top:58px;}

#lo{position:relative; width:50px; height:26px; background:#222; font-size:18px; text-align:Center; border-radius:5px; left:138px; top:75px; cursor:pointer; line-height:26px; color:White;}

#lo:hover{background: #333333; transition:0.5s}

#login input{width:180px; height:20px; background:white; color:#222}

#reg{position:relative;  color:black; top:90px; left:137px; }

#reg a{family:myraid pro; color:#930608; font-size:18px;  }

#reg a:hover{color:#660000; }


#forg{position:relative;  color:black; top:90px; left:160px; }

#forg a{family:myraid pro; color:#930608; font-size:18px;  }

#forg a:hover{color:#660000; }















#rightbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#line3{width:320px; height:3px; background:black; position:relative; top:100px;}	









#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#tablefoo{position:relative;   left:70px; top:10px; width:550px; font-size:12px; }

#foo{position:relative; max-width:1200px; height:290px; background:#222; top:110px;  color:#f2f2f2;   }

#topcat{position:relative; left:50px; }

#topcat2{position:relative; left:50px; top:35px; }

#line2{width:230px; height:1px; background:white; position:relative; left:110px; top:0px;}

table ul li{list-style:none; position:relative; left:-48px; margin:8px; top:-2px; display:block; }

#tablefoo ul li a{text-decoration:none; color:#bfbfbf;}

#tablefoo ul li a:hover{color: #ffffff;}

#social{position:Relative; left:110px; cursor:pointer; display:block;}










}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	overflow:hidden;
	background:#f2f2f2;
	height:900px;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#img{position;relative; cursor:pointer; float:left; width:60px; height:80px; }
	
#log{position:relative; width:70px; height:30px; background:#930608; float:left; text-align:center; line-height:30px; box-shadow:2px 2px 2px gray; border-radius:8px; cursor:pointer; left:980px; top:10px;}

#log a{text-decoration:none; color:white; font-size:13px;}

#log:hover{background:#a30507; }





#navbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#menu{position:relative; max-width:1190px; height:50px; background:#222; box-shadow:3px 3px 3px gray; left:10px; display:block; }

#menu ul li{list-style:none; float:left;  width:100px; line-height:50px; position:relative; left:-50px;  background:#222; margin:0px; height:50px;  box-shadow:none;  }

#menu ul li a{text-decoration:none; color:white; font-size:15px; display:block; text-align:Center;}

#menu ul li:hover{background:#930608;}

#menu input{height:20px; width:200px;}

#banner{cursor:pointer;width:1190px; height:400px;}

#inp{position:relative; left:135px; top:12px;} 

input{font-size:13px;}

#ser{position:relative; left:132px; transform:rotate(16deg); top:10px; cursor:pointer; top:none; width:25px; height:25px;}












#leftbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#line{position:relative; width:500px; height:3px; background:black; left:700px; top:10px;}



#article {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#login{position:relative; left:380px; top:50px; font-family:myraid pro; width:450px; height:290px; background: #f2f2f2; border:1px ridge black; border-radius:12px; }

#signin{position:relative; font-size:25px; color:black; left:185px; top:30px;  }

#email{position:relative; font-size:20px; color:black; top:50px; family:myraid pro; left:50px;}

#email2{position:relative;  top:48px; left:65px;}

#pw{position:relative; font-size:20px; color:black; top:60px; family:myraid pro; left:50px;}

#pw2{position:relative; left:65px; top:58px;}

#lo{position:relative; width:75px; height:30px; background:#222; font-size:20px; text-align:Center; border-radius:5px; left:143px; top:75px; cursor:pointer; line-height:30px; color:White;}

#lo:hover{background: #333333; transition:0.5s}

#login input{width:220px; height:27px; background:white; color:#222}

#reg{position:relative;  color:black; top:90px; left:140px; }

#reg a{family:myraid pro; color:#930608; font-size:20px;  }

#reg a:hover{color:#660000; }


#forg{position:relative;  color:black; top:90px; left:160px; }

#forg a{family:myraid pro; color:#930608; font-size:20px;  }

#forg a:hover{color:#660000; }






#rightbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#line3{width:500px; height:3px; background:black; position:relative; top:110px;}	







#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#tablefoo{position:relative;   left:100px; top:10px; width:950px; font-size:13px; }

#foo{position:relative; max-width:1200px; height:290px; background:#222; top:120px;  color:#f2f2f2;   }

#topcat{position:relative; left:50px; }

#topcat2{position:relative; left:50px; top:35px; }

#line2{width:230px; height:1px; background:white; position:relative; left:760px; top:0px;}

table ul li{list-style:none; position:relative; left:-48px; margin:8px; top:-2px; display:block; }

#tablefoo ul li a{text-decoration:none; color:#bfbfbf;}

#tablefoo ul li a:hover{color: #ffffff;}

#social{position:Relative; left:757px; cursor:pointer; display:block;}










}