@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/





/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: #f2f2f2;
	overflow:hidden;
	height:1972px;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#img{position:relative; width:40px; height:55px; float:left; cursor:pointer;}

#log{position:relative; width:50px; height:25px;   background:#930608; float:left; text-align:center; line-height:25px; box-shadow:2px 2px 2px gray; border-radius:8px; cursor:pointer; left:170px;  }

#log a{text-decoration:none; color:white; font-size:12px;}

#log:hover{background:#a30507; }







#navbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#menu{position:relative; max-width:none;  background:none; box-shadow:none; left:-37px;}

#menu ul li{list-style:none; background:#222; width:80px; position:relation; text-align:Center; margin:0px; height:33px; line-height:33px; box-shadow:2px 2px 2px gray;  }

#menu ul li a{text-decoration:none; color:white; font-size:12px; display:block; }

#menu ul li:hover{background:#930608;}

#menu{display:block;}

#inp{position:relative; left:200px; top:-253px; width:80px; height:17px; } 

input{font-size:9px;}

#ser{position:relative; left:198px; transform:rotate(16deg); top:10px; cursor:pointer; top:-255px; width:20px; height:20px;}









#leftbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#a{position:relative; top:20px; left:40px; top:-12px;  }

#b{color:#930608; cursor:pointer; font-size:16px;}

#bb{position:relative; width:110px; height:2px; background:black; top:-13px;  }

#mainbx{position:relative; width:250px; height:550px; background:dimgray;  border-radius:10px; border:1px solid black; display:block; left:-10px;}



#d{position:relative; width:200px; height:160px; background:white; top:15px; left:20px; border-radius:7px;  border:1px solid black; }

#dd{position:relative; font-size:14px; text-align:center; top:15px;}

#ddd{position:Relative; font-size:13px; text-align:center; top:0px;}

#b1{width:110px; height:25px; font-size:14px; background:#222; color:white; opacity:0.9; position:relative; left:45px; top:25px;}



#e{position:relative; width:200px; height:160px; background:white; top:33px; left:20px; border-radius:7px; border:1px solid black;}

#ee{position:relative; font-size:14px; text-align:center; top:10px;}

#eee{position:Relative; font-size:13px; text-align:center; top:-5px;}

#b2{width:110px; height:25px; font-size:14px; background:#222; color:white; opacity:0.9; position:relative; left:45px; top:20px;}



#f{position:relative; width:200px; height:160px; background:white; left:20px; border-radius:7px; top:49px; border:1px solid black; }

#ff{position:relative; font-size:14px; text-align:center; top:20px;}

#fff{position:Relative; font-size:13px; text-align:center; top:5px;}

#b3{width:110px; height:25px; font-size:14px; background:#222; color:white; opacity:0.9; position:relative; left:45px; top:7px;}











#article {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#ret{position:Relative; left:10px; top:20px;}

#bx2{ position:relative; width:290px; height:305px; background:dimgray;  border-radius:10px; border:1px solid black;  }

#img31{ position:relative; width:130px; height:130px; top:-7px; left:10px; top:18px;}

#img32{ position:relative; width:130px; height:130px; top:-7px; left:15px; top:18px;}

#img33{ position:relative; width:130px; height:130px; top:-7px; left:10px; top:28px;}

#img34{ position:relative; width:130px; height:130px; top:-7px; left:15px; top:28px; }








#rightbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#rg{position:Relative; width:310px; height:450px; background:#ffffe6; left:0px; top:50px; border:1px solid black; }

#n{position:Relative; font-size:14px; left:20px; top:0px; color:#930608}

#o{position:Relative; font-size:14px; left:20px; top:0px;}

#p{position:Relative; font-size:12px; left:20px; top:-15px;}

#q{position:Relative; font-size:14px; left:20px; top:0px;}

#r{position:Relative; font-size:12px; left:20px; top:-15px;}

#s{position:Relative; font-size:14px; left:20px; top:0px;}

#t{position:Relative; font-size:12px; left:20px; top:-15px;}








#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#tablefoo{position:relative; left:10px; top:10px; width:0px; font-size:10px; }

#foo{position:relative; max-width:auto; height:180px; background:#222; top:70px;  color:#f2f2f2;   }

#topcat{position:relative; left:50px; }

#topcat2{position:relative; left:50px; top:35px; }

#line2{width:230px; height:1px; background:white; position:relative; left:760px; top:0px;}

table ul li{list-style:none; position:relative; left:-48px; margin:8px; top:-2px; display:block; }

#tablefoo ul li a{text-decoration:none; color:#bfbfbf;}

#tablefoo ul li a:hover{color: #ffffff;}

#social{display:none;}
















/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	overflow:hidden;
	height:1420px;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#img{position:relative; width:50px; height:70px; float:left; cursor:pointer;}

#log{position:relative; width:50px; height:25px;   background:#930608; float:left; text-align:center; line-height:25px; box-shadow:2px 2px 2px gray; border-radius:8px; cursor:pointer; left:520px;  }

#log a{text-decoration:none; color:white; font-size:12px;}

#log:hover{background:#a30507; }








#navbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#menu{position:relative; max-width:1190px; height:40px; background:#222; box-shadow:3px 3px 3px gray; left:10px; display:block; }

#menu ul li{list-style:none; float:left;  width:60px; line-height:40px; position:relative; left:-50px;  background:#222; margin:0px; height:40px;  box-shadow:none;  }

#menu ul li a{text-decoration:none; color:white; font-size:10px; display:block; text-align:Center;}

#menu ul li:hover{background:#930608;}

#menu input{height:13px; width:80px;}

#banner{cursor:pointer;width:1190px; height:300px;}

#inp{position:relative; left:50px; top:10px;} 

input{font-size:9px;}

#ser{position:relative; left:50px; transform:rotate(16deg); top:-28px; cursor:pointer; top:10px; width:20px; height:20px;}











#leftbar {
	clear:both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#a{position:relative; top:20px; left:0px; top:0px; }

#b{color:#930608; cursor:pointer;  font-size:20px; }

#bb{position:relative; width:136px; height:2px; background:black; top:-13px; }

#mainbx{position:relative; width:auto; height:200px; background:dimgray;  border-radius:10px; border:1px solid black; display:block; left:0px;}

#d{position:relative; width:200px; height:160px; background:white; top:2px; left:15px; border-radius:7px;  border:none;  }

#dd{position:relative; font-size:14px; text-align:center; top:20px;}

#ddd{position:Relative; font-size:13px; text-align:center; top:5px;}

#b1{width:110px; height:25px; font-size:14px; background:#222; color:white; opacity:0.9; position:relative; left:45px; top:40px;}



#e{position:relative; width:200px; height:160px; background:white; top:-176px; left:240px; border-radius:7px; border:none; }

#ee{position:relative; font-size:14px; text-align:center; top:20px;}

#eee{position:Relative; font-size:13px; text-align:center; top:5px;}

#b2{width:110px; height:25px; font-size:14px; background:#222; color:white; opacity:0.9; position:relative; left:45px; top:40px;}



#f{position:relative; width:200px; height:160px; background:white; left:470px; border-radius:7px; top:-354px; border:none;  }

#ff{position:relative; font-size:14px; text-align:center; top:20px;}

#fff{position:Relative; font-size:13px; text-align:center; top:5px;}

#b3{width:110px; height:25px; font-size:14px; background:#222; color:white; opacity:0.9; position:relative; left:45px; top:7px;}











#article {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#ret{position:Relative; left:0px; top:30px;}

#bx2{ position:relative; width:auto; height:200px; background:dimgray;  border-radius:10px; border:1px solid black;  }

#img31{ position:relative; width:150px; height:140px; top:-7px; left:25px; top:28px;}

#img32{ position:relative; width:150px; height:140px; top:-7px; left:35px; top:28px;}

#img33{ position:relative; width:150px; height:140px; top:-7px; left:45px; top:28px;}

#img34{ position:relative; width:150px; height:140px; top:-7px; left:55px; top:28px; }










#rightbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}









#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#tablefoo{position:relative;   left:70px; top:10px; width:550px; font-size:12px; }

#foo{position:relative; max-width:1200px; height:290px; background:#222; top:66px;  color:#f2f2f2;   }

#topcat{position:relative; left:50px; }

#topcat2{position:relative; left:50px; top:35px; }

#line2{width:230px; height:1px; background:white; position:relative; left:110px; top:0px;}

table ul li{list-style:none; position:relative; left:-48px; margin:8px; top:-2px; display:block; }

#tablefoo ul li a{text-decoration:none; color:#bfbfbf;}

#tablefoo ul li a:hover{color: #ffffff;}

#social{position:Relative; left:110px; cursor:pointer; display:block;}

















}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	overflow:hidden;
	background:#f2f2f2;
	height:1030px;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#img{position;relative; cursor:pointer; float:left; width:60px; height:80px; }
	
#log{position:relative; width:70px; height:30px; background:#930608; float:left; text-align:center; line-height:30px; box-shadow:2px 2px 2px gray; border-radius:8px; cursor:pointer; left:980px; top:10px;}

#log a{text-decoration:none; color:white; font-size:13px;}

#log:hover{background:#a30507; }





#navbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#menu{position:relative; max-width:1190px; height:50px; background:#222; box-shadow:3px 3px 3px gray; left:10px; display:block; }

#menu ul li{list-style:none; float:left;  width:100px; line-height:50px; position:relative; left:-50px;  background:#222; margin:0px; height:50px;  box-shadow:none;  }

#menu ul li a{text-decoration:none; color:white; font-size:15px; display:block; text-align:Center;}

#menu ul li:hover{background:#930608;}

#menu input{height:20px; width:200px;}



#inp{position:relative; left:135px; top:12px;} 

input{font-size:13px;}

#ser{position:relative; left:132px; transform:rotate(16deg); top:10px; cursor:pointer; top:none; width:25px; height:25px;}










#leftbar {
	clear: both;
	float: left;
	margin-left: 0;
	width:100%;
	display: block;
	
}

#a{position:relative; top:20px; left:40px; top:0px; }

#b{color:#930608; cursor:pointer;  font-size:20px;}

#bb{position:relative; width:136px; height:2px; background:black; top:-13px; }

#mainbx{position:relative; width:700px; height:200px; background:dimgray;  border-radius:10px; border:1px solid black; display:block; left:0px;}

#d{position:relative; width:200px; height:160px; background:white; top:2px; left:20px; border-radius:7px;  border:none;  }

#dd{position:relative; font-size:14px; text-align:center; top:20px;}

#ddd{position:Relative; font-size:13px; text-align:center; top:5px;}

#b1{width:110px; height:25px; font-size:14px; background:#222; color:white; opacity:0.9; position:relative; left:45px; top:40px;}



#e{position:relative; width:200px; height:160px; background:white; top:-176px; left:250px; border-radius:7px; border:none; }

#ee{position:relative; font-size:14px; text-align:center; top:20px;}

#eee{position:Relative; font-size:13px; text-align:center; top:5px;}

#b2{width:110px; height:25px; font-size:14px; background:#222; color:white; opacity:0.9; position:relative; left:45px; top:40px;}



#f{position:relative; width:200px; height:160px; background:white; left:480px; border-radius:7px; top:-354px; border:none;  }

#ff{position:relative; font-size:14px; text-align:center; top:20px;}

#fff{position:Relative; font-size:13px; text-align:center; top:5px;}

#b3{width:110px; height:25px; font-size:14px; background:#222; color:white; opacity:0.9; position:relative; left:45px; top:7px;}







#article {
	clear: none;
	float: left;
	margin-left: 0;
	width:50%;
	display: block;
}

#ret{position:Relative; left:40px; top:70px;}

#bx2{ position:relative; width:700px; height:200px; background:dimgray;  border-radius:10px; border:1px solid black;  }

#img31{ position:relative; width:150px; height:140px; top:-7px; left:25px; top:28px;}

#img32{ position:relative; width:150px; height:140px; top:-7px; left:35px; top:28px;}

#img33{ position:relative; width:150px; height:140px; top:-7px; left:45px; top:28px;}

#img34{ position:relative; width:150px; height:140px; top:-7px; left:55px; top:28px; }








#rightbar {
	clear: none;
	float: left;
	margin-left: 0;
	width: 50%;
	display: block;
}

#rg{position:Relative; width:320px; height:450px; background:#ffffe6; left:220px; top:-180px; border:1px solid black; }

#n{position:Relative; font-size:14px; left:20px; top:0px; color:#930608}

#o{position:Relative; font-size:14px; left:20px; top:0px;}

#p{position:Relative; font-size:12px; left:20px; top:-15px;}

#q{position:Relative; font-size:14px; left:20px; top:0px;}

#r{position:Relative; font-size:12px; left:20px; top:-15px;}

#s{position:Relative; font-size:14px; left:20px; top:0px;}

#t{position:Relative; font-size:12px; left:20px; top:-15px;}




#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


#tablefoo{position:relative;   left:100px; top:10px; width:950px; font-size:13px; }

#foo{position:relative; max-width:1200px; height:290px; background:#222; top:-120px;  color:#f2f2f2;   }

#topcat{position:relative; left:50px; }

#topcat2{position:relative; left:50px; top:35px; }

#line2{width:230px; height:1px; background:white; position:relative; left:760px; top:0px;}

table ul li{list-style:none; position:relative; left:-48px; margin:8px; top:-2px; display:block; }

#tablefoo ul li a{text-decoration:none; color:#bfbfbf;}

#tablefoo ul li a:hover{color: #ffffff;}

#social{position:Relative; left:757px; cursor:pointer; display:block;}














}